name: Release JAR

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 8
      uses: actions/setup-java@v4
      with:
        java-version: '8'
        distribution: 'temurin'

    - name: Build with Maven
      run: mvn clean package

    - name: Upload JAR to release
      run: gh release upload ${{ github.event.release.tag_name }} ./target/infer-annotate.jar
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}